@media screen and (max-width: 990px) {
  .menu-cols {
    display: block;
  }
  #videoPlayer {
    width: 100%;
  }
  .menu-link a {
    font-size: 30px;
  }
  .container {
    max-width: 900px;
    padding-inline: 10px;
  }
  .menu-cols > div {
    flex: 1;
    padding: 0.6rem 0;
  }
  .service {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-top: none;
    margin: 60px 0;
  }
}
@media screen and (max-width: 768px) {
  .button_seat {
    margin: 0.2rem 0;
  }
  .services-info {
    justify-content: space-between;
  }
  .flex-col-03 {
    justify-content: space-around;
    width: 100%;
  }
  .bottom-footer {
    flex-direction: column;
    gap: 50px;
  }
  .footer_work span {
    font-size: 2.5rem;
    color: var(--primary);
  }
  .footer_container img {
    width: 50px;
    height: 50px;
  }
  .row {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .btn-round {
    width: 9rem;
    height: 9rem;
  }
  .btn-text-inners {
    font-size: 1rem;
  }
  .btn-normal {
    width: 100%;
  }
  .flex-col {
    flex-direction: column;
  }
  .tab-header {
    height: 2rem;
  }
  .menu-footer-copy {
    flex-direction: column;
  }
  .menu-overlay {
    padding: 1rem;
  }

  .container {
    max-width: 700px;
  }
  .hero .heading h1 {
    font-size: 4rem;
    letter-spacing: 2px;
  }
  .navlinks-container {
    display: none;
  }
  .header-container {
    display: block;
  }
  .menu-btn-open {
    right: 30px;
    top: 100px;
  }
  .heading_project_list {
    flex-direction: column;
    gap: 30px;
  }
  .hover_image_effect h1 {
    font-size: 3.5rem;
  }
  .menu-item h3,
  span {
    font-size: 1.3rem;
  }
  .header_projects-list-wrap {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .social-links {
    gap: 15px;
    flex-wrap: wrap;
  }
  .container {
    max-width: 400px;
  }
  .project .project-link .project-title {
    font-size: 1.5rem;
  }
  .project .project-link {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .more_work button a {
    font-size: 1rem;
  }
  .more_work button {
    padding: 20px 15px;
    width: 10rem;
  }
  .button_seat {
    padding: 1.25rem 1.5rem;
  }
  .footer_svg svg {
    width: 15px;
    height: 15px;
  }
  .footer_main {
    justify-content: space-evenly;
  }
  footer {
    padding-top: 50px;
  }
  .tab-header {
    height: 1.4rem;
  }
}
