* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.menu-item {
  position: relative;
  color: black;
  font-weight: 500;
}
.menu-item span {
  font-size: 1rem;
}
.menu-item-text {
  pointer-events: none;
  display: block;
  line-height: 1;
  position: relative;
}
.menu-item > div:first-child span {
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: calc(0.05s * var(--index));
  -o-transition-delay: calc(0.05s * var(--index));
  transition-delay: calc(0.05s * var(--index));
  display: inline-block;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
.menu-item > div:nth-child(2) span {
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: calc(0.05s * var(--index));
  -o-transition-delay: calc(0.05s * var(--index));
  transition-delay: calc(0.05s * var(--index));
  display: inline-block;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transform: translate3d(0, 100%, 0) rotateX(-90deg);
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}
.menu-item:hover > div:first-child span {
  -webkit-transform: translate3d(0, -100%, 0) rotateX(-90deg);
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}
.menu-item:hover > div:nth-child(2) span {
  -webkit-transform: translate3d(0, 0, 0) rotateX(0);
  transform: translate3d(0, 0, 0) rotateX(0);
}
