* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Big Shoulders Display";
  src: url("./fonts/BigShouldersDisplay.ttf") format("woff2-variations");
}
body {
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 67.5%;
}
.page-width {
  padding: 0 3rem;
}
.menu-item {
  position: relative;
  color: black;
  font-weight: 400;
}

.menu-item span {
  font-size: 1rem;
}
.menu-item-text {
  pointer-events: none;
  display: block;
  line-height: 1;
  position: relative;
}
.menu-item > div:first-child span {
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: calc(0.05s * var(--index));
  -o-transition-delay: calc(0.05s * var(--index));
  transition-delay: calc(0.05s * var(--index));
  display: inline-block;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
.menu-item > div:nth-child(2) span {
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: calc(0.05s * var(--index));
  -o-transition-delay: calc(0.05s * var(--index));
  transition-delay: calc(0.05s * var(--index));
  display: inline-block;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transform: translate3d(0, 100%, 0) rotateX(-90deg);
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}
.menu-item:hover > div:first-child span {
  -webkit-transform: translate3d(0, -100%, 0) rotateX(-90deg);
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}
.menu-item:hover > div:nth-child(2) span {
  -webkit-transform: translate3d(0, 0, 0) rotateX(0);
  transform: translate3d(0, 0, 0) rotateX(0);
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

a,
p {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.container-portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.container-portfolio .blurry-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-portfolio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(80px);
}

.container-portfolio .col {
  position: relative;
  padding: 1em;
}

.container-portfolio .site-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.container-portfolio nav {
  display: flex;
  gap: 1em;
}

.container-portfolio .header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.container-portfolio .project-preview {
  flex: 2;
}

.container-portfolio .project-details {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 50%;
}

.container-portfolio .title {
  margin-bottom: 0.5em;
}

.container-portfolio .info {
  margin-bottom: 1em;
}
.container-portfolio .title,
.credits,
.director,
.cinematographer,
.line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container-portfolio .title h1 {
  position: relative;
  transform: translateY(40px);
  will-change: transform;
}
.container-portfolio .info p .line span,
.credits p,
.director p,
.cinematographer p {
  display: inline-block;
  position: relative;
  transform: translateY(20px);
  will-change: transform;
}

.container-portfolio .project-img {
  position: absolute;
  left: 1em;
  bottom: 1em;
  width: 75%;
  height: 50%;
  overflow: hidden;
  will-change: transform;
}

.container-portfolio .project-img img {
  will-change: transform;
}

.container-portfolio .gallery-wrapper {
  z-index: 2;
  overflow: auto;
  padding: 0.75em;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.container-portfolio .gallery {
  width: 100px;
  height: 300vh;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.container-portfolio .item {
  position: relative;
  flex: 1;
  background-color: #aeaeae;
}

.container-portfolio .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  transition: background-color 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.container-portfolio .item.active::after {
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 900px) {
  .container-portfolio {
    flex-direction: column;
  }

  .container-portfolio .site-info {
    flex: 0.5;
    border-left: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .container-portfolio .header {
    top: unset;
    bottom: 1em;
    transform: none;
  }

  .container-portfolio .site-info .copy {
    display: none;
  }

  .container-portfolio .project-details {
    width: calc(100% - 1em);
  }

  .container-portfolio .project-img {
    width: 93%;
  }

  .container-portfolio .gallery-wrapper {
    border-right: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .container-portfolio .gallery {
    width: 300vw;
    height: 100px;
    flex-direction: row;
  }
}
/* ***************marquee-container********************** */

.container-marquee p {
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
}

.container-marquee {
  width: 100%;
  height: 100vh;
}

.about,
.services {
  padding: 4em;
  background: #87795f;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13120e;
  color: #87795f;
}

.footer h1 {
  font-size: 10vw;
  text-transform: uppercase;
}

.marquees {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.marquee-container {
  position: relative;
  width: 125%;
  height: 250px;
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

.marquee {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  gap: 1em;
}

#marquee-1 .marquee,
#marquee-3 .marquee {
  left: -15%;
}

.container-marquee .item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-marquee .item.with-text {
  flex: 1.5;
}

.container-marquee .item h1 {
  text-transform: uppercase;
  font-size: 140px;
}

@media (max-width: 900px) {
  .marquees {
    height: 100vh;
  }

  .marquee-container {
    width: 250%;
    height: 150px;
  }

  #marquee-2 .marquee,
  #marquee-4 .marquee {
    left: -35%;
  }

  .container-marquee .item.with-text {
    flex: 1;
  }

  .container-marquee .item h1 {
    font-size: 60px;
  }
}

/* lenis scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
